
<div class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h1 class="block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2 text-center ">Récapitulatif</h1>
    <p class="text-lg font-semibold mb-4">Vous avez saisi les informations suivantes:</p>
    <ul class="list-disc">
        <li class="mb-2"><span class="font-semibold">Civilité:</span> {{informations.value.civility}}</li>
        <li class="mb-2"><span class="font-semibold">Nom:</span> {{informations.value.nom}}</li>
        <li class="mb-2"><span class="font-semibold">Prénom:</span> {{informations.value.prenom}}</li>
        <li class="mb-2"><span class="font-semibold">Email:</span> {{informations.value.email}}</li>
        <li class="mb-2"><span class="font-semibold">Téléphone:</span> {{informations.value.telephone}}</li>
        <li class="mb-2"><span class="font-semibold">Adresse:</span> {{informations.value.adresse}}</li>
        <li class="mb-2"><span class="font-semibold">Ville:</span> {{informations.value.ville}}</li>
        <li class="mb-2"><span class="font-semibold">Pays:</span> {{informations.value.pays}}</li>
        <li class="mb-2"><span class="font-semibold">Code postal:</span> {{informations.value.codePostal}}</li>
        <li class="mb-2"><span class="font-semibold">Login:</span> {{informations.value.login}}</li>
    </ul>
</div>
